<ion-header>
  <ion-toolbar>
    <ion-title>A propos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Qui es booba ?</h1>
  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <img src="../../assets/Booba.jpeg">
      </ion-col>
      <ion-col size="9">
        <p>
          Booba est un super rapper qui rappe. Il est né en 1976 et a sorti son premier album en 2002. Il est très connu et a beaucoup de fans.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h2>Le projet</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>
          Le projet consiste a regrouper la discographie du Boobs(Booba).
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
