<ion-header>
  <ion-toolbar>
    <ion-title>Ma bibliothèque</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h2>Création d'une nouvelle musique</h2>
  <ion-button routerLink="/Musiques/new">Création</ion-button>
  <h2>Liste des musiques</h2>
  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let Musique of Musiques">
        <ion-card [routerLink]="['/Musiques', Musique.id]">
          <img [src]="Musique.pictureLink" [alt]="Musique.title">
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

